name: Auto Deploy to CloudPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 31.97.107.14
          username: rsbaladhikahusada
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/rsbaladhikahusada/htdocs/www.rsbaladhikahusada.com
            git fetch --all
            git reset --hard origin/main
            npm install
            npm run build
            php artisan optimize:clear
